@model Employee_MVCApp.Models.LoginModel


@section ValidationScript
    {

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}


<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-6 offset-3">
           
            <div class="row">
                <form method="post" action="Login">
                    <table class="table">
                        <tr>
                            <th>UserId</th>
                            <td>
                                @Html.TextBoxFor(x => x.UserId, new { @class = "form-control" })
                                <span class="text-danger">
                                    @Html.ValidationMessageFor(x => x.UserId)
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td>
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                                <span class="text-danger">
                                    @Html.ValidationMessageFor(x => x.Password)
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </td>
                        </tr>
                    </table>
                </form>

            </div>

        </div>
    </div>
</div>

